[submodule "my-music-finder"]
	path = my-music-finder
	url = git@github.com:efraimgentil/my-music-finder.git
[submodule "my-music-catalog"]
	path = my-music-catalog
	url = git@github.com:efraimgentil/my-music-catalog.git
[submodule "my-music-gateway"]
	path = my-music-gateway
	url = git@github.com:efraimgentil/my-music-gateway.git
[submodule "my-music-gofer"]
	path = my-music-gofer
	url = git@github.com:efraimgentil/my-music-gofer.git
